.primary-bg {
  background-color: #6a6;
}

.primary-txt {
  color: #6a6;
}

.secondary-bg {
  background-color: #454545;
  color: #fff;
}

.secondary-txt {
  color: #454545;
}

header .row {
  background-color: #454545;
  line-height: 5rem;
}

.logo {
  font-size: 2.5rem;
  text-transform: uppercase;
  padding: 0.5rem 1rem 0.5rem 1rem;
  /*padding-left: 0.5rem;*/
  transition: padding-left 200ms;
  -webkit-transition: padding-left 200ms;
}

.logo:hover {
  padding-left: 3rem;
  transition: padding-left 300ms;
  -webkit-transition: padding-left 300ms;
}

.logo a {
  color: #DDD;
  text-decoration: none;
}

.tagline {
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  font-size: 1.2rem;
  display: table-cell;
  vertical-align: middle;
  transition: color 300ms;
  -webkit-transition: color 300ms;
}

.tagline:hover {
  color: #eee;
  transition: color 300ms;
  -webkit-transition: color 300ms;
}

a.to_nav {
  color: #fff;
  background: #6a6;
  text-decoration: none;
  padding: 0.2rem 0.8rem 0.2rem 0.8rem;
  margin-right: 0.8rem;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  font-size: 2.5rem;
  display: table-cell;
  vertical-align: middle;
}

a.to_nav:hover,
a.to_nav:focus {
  color: #fff;
  background: #494;
  transition: color 300ms, background-color 300ms;
  -webkit-transition: color 300ms, background-color 300ms;
}

#primary_nav ul {
  list-style: none;
  background: #454545;
}

#primary_nav li {
  margin-bottom: 0px;
  line-height: 5rem;
}

#primary_nav li a {
  display: block;
  padding: 0 0.3rem;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.1rem;
  border-bottom: 1px solid #383838;
  color: #6a6;
  transition: color 200ms;
  -webkit-transition: color 200ms;
}

#primary_nav li:last-child a {
  border-bottom: none;
}

#primary_nav li a:hover,
#primary_nav li a:focus {
  color: #fff;
  background-color: #6a6;
  transition: color 300ms, background-color 300ms;
  -webkit-transition: color 300ms, background-color 300ms;
}

.wrapper {
  position: relative;
  width: 100%;
}

@media only screen and (min-width: 768px) {

  a.to_nav {
    display: none;
  }

  #primary_nav {
    position: absolute;
    top: 0px;
    right: 1rem;
  }

  #primary_nav li {
    display: inline;
  }

  #primary_nav li a {
    float: right;
    border: none;
    padding: 0 0.4rem;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
  }

  #primary_nav ul {
    padding: 0.5rem 1rem 0.5rem 1rem;
  }
}

/* Featured image styles */

.featured-img {
  height: 50vh;
  background-size: cover;
}

.featured-overlay {
  color: #fff;
  width: 100%;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.article-header-description {
  color: #ddd;
}

.separator {
  height: 3px;
  background-color: #454545;
}
