@import "normalize.css";
@import "skeleton.css";
@import "captionjs.min.css";
.primary-bg {
  background-color: #66aa66;
}
.primary-txt {
  color: #66aa66;
}
.secondary-bg {
  background-color: #454545;
  color: #ffffff;
}
.secondary-txt {
  color: #454545;
}
.border {
  border: 3px solid #454545;
}
a {
  color: #66aa66;
}
a:hover {
  color: #467e46;
}
a:visited {
  color: #467e46;
}
blockquote {
  font-family: Georgia, serif;
  font-style: italic;
  border-color: #454545;
  border-left: 3px solid;
  padding-left: 1rem;
}
body {
  background-color: #454545;
  font-family: 'Source Sans Pro', sans-serif;
}
.wrapper {
  background-color: #ffffff;
  position: relative;
  width: 100%;
}
.upper-case {
  text-transform: uppercase;
}
.unstyled-link {
  color: #ffffff;
  text-decoration: none;
}
.vertical-centre {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.bold {
  font-weight: 700;
}
header .row {
  background-color: #454545;
  line-height: 5rem;
  height: 5rem;
}
.logo {
  text-transform: uppercase;
  font-size: 2.5rem;
  padding: 0rem 1.5rem 0rem 1.5rem;
  transition: padding-left 150ms;
  -webkit-transition: padding-left 150ms;
}
.logo:hover {
  padding-left: 3rem;
  transition: padding-left 300ms;
  -webkit-transition: padding-left 300ms;
}
.logo a {
  color: #ffffff;
  text-decoration: none;
}
.tagline {
  padding-left: 1rem;
  transition: color 300ms;
  -webkit-transition: color 300ms;
  line-height: 5rem;
  padding-bottom: 0;
  display: none;
}
.tagline:hover {
  -webkit-transition: color 300ms;
  color: #cccccc;
  transition: color 300ms;
}
a.to_nav {
  background: #66aa66;
  display: table-cell;
  font-size: 2.5rem;
  margin-right: 1rem;
  padding: 0rem 1.5rem 0rem 1.5rem;
  vertical-align: middle;
  color: #ffffff;
  text-decoration: none;
}
a.to_nav:hover {
  background: #467e46;
  color: #ffffff;
  transition: color 300ms, background-color 300ms;
  -webkit-transition: color 300ms, background-color 300ms;
}
a.to_nav:focus {
  background: #467e46;
  color: #ffffff;
  transition: color 300ms, background-color 300ms;
  -webkit-transition: color 300ms, background-color 300ms;
}
#primary_nav ul {
  background: #454545;
  list-style: none;
  padding: 0rem 1.5rem 0rem 1.5rem;
}
#primary_nav ul li {
  line-height: 5rem;
  margin-bottom: 0px;
}
#primary_nav ul li a {
  -webkit-transition: color 150ms;
  border-bottom: 1px solid #2b2b2b;
  border: none;
  color: #66aa66;
  display: block;
  font-weight: bold;
  padding: 0 0.5rem;
  transition: color 150ms;
  text-decoration: none;
  text-transform: uppercase;
}
#primary_nav ul li a:hover {
  background-color: #66aa66;
  color: #ffffff;
  transition: color 300ms, background-color 300ms;
  -webkit-transition: color 300ms, background-color 300ms;
}
#primary_nav ul li a:focus {
  background-color: #66aa66;
  color: #ffffff;
  transition: color 300ms, background-color 300ms;
  -webkit-transition: color 300ms, background-color 300ms;
}
#primary_nav ul li:last-child a {
  border-bottom: none;
}
@media screen and (min-width: 768px) {
  a.to_nav {
    display: none;
  }
  .tagline {
    display: inline;
  }
  .search-container {
    display: block;
  }
  .alt-search-container {
    display: none;
  }
  #primary_nav {
    position: absolute;
    right: 1rem;
    top: 0px;
  }
  #primary_nav li {
    display: inline;
    float: right;
    font-size: 1rem;
  }
}
.featured-img {
  background-size: cover !important;
  height: 40vh;
}
.featured-overlay {
  color: #ffffff;
  max-height: 100%;
  overflow: hidden;
  width: 100%;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.article-header-description {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  border-color: #ffffff;
  border-right: solid 1px;
  color: #dddddd;
  font-family: Georgia, serif;
  font-size: 0.9em;
  padding: 0rem 1.5rem 0rem 1.5rem;
  width: 60%;
}
.separator {
  background-color: #454545;
  height: 3px;
  margin-bottom: 10px;
}
.article-text p:first-of-type :not(blockquote p) {
  font-weight: 700;
}
.article-text img {
  border: 3px solid #454545;
  box-sizing: border-box;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}
.article-text a img {
  border: 3px solid #454545;
}
.captionjs figcaption {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  color: #ffffff;
  font-family: Georgia, serif;
  font-style: italic;
  padding-bottom: 0.7rem;
  padding-top: 0.7rem;
  text-align: center;
}
.social-links a {
  color: #ffffff;
}
.search-container {
  margin-right: -12rem;
  display: none;
}
.search-box {
  transition: width 300ms, border-radius 300ms, background 300ms, box-shadow 300ms;
  width: 3rem;
  height: 40px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background: #ffffff;
}
.search-box:hover {
  color: white;
  /*background: rgb(200, 200, 200);
    box-shadow: 0 0 0 5px rgb(61, 71, 82);
    & + label .search-icon {    color: white    } */
}
.search-box:focus {
  transition: width 300ms, border-radius 300ms, background 300ms;
  border: none;
  outline: none;
  box-shadow: none;
  /* padding-left: 15px; */
  cursor: text;
  width: 300px;
  border-radius: auto;
  color: black;
}
.search-box:not(:focus) {
  text-indent: -5000px;
}
#search-submit {
  position: relative;
  left: -5000px;
}
.search-icon {
  position: relative;
  color: black;
  cursor: pointer;
  right: 20px;
  font-size: 1.5em;
}
.alt-search-container {
  margin-bottom: -4rem;
}
input.alt-search-button {
  color: #ffffff;
  margin-left: 1rem;
  padding-bottom: 0;
}
